<footer>
  <div class="cont">
    <div class="izquierdo">
      <ul>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Refund Policy</a>
        <a href="#">Security</a>
        <a href="#">Rentaskip's Blog</a>
      </ul>
    </div>
    <div class="derecho">
      <ul>
        <a href="#">Rentaskip Australia. All rights reserved</a>
        <a href="#">E-mail:info@rentaskip.com.au</a>
      </ul>
      <ul>
        <a href="#">Rentaskip Australia Pty Ltd.</a>
        <a href="#">ABN: 67 108 689 112</a>
      </ul>
    </div>
  </div>
</footer>