*{margin: 0;padding: 0;box-sizing: border-box;}
footer{
    width: 100%;
    background-color: #555;
    padding: 0 5rem;
    align-self: flex-end;
}
.cont{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding: 2rem 0;
}
.izquierdo,.derecho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.izquierdo{
    grid-column: 1/7;
}
.izquierdo ul a{
    list-style: none;
    color: white;
    margin-right: 10px;
}
.derecho{
    grid-column: 8/13;
    list-style: none;
    color: white;
}
.derecho ul a{
    list-style: none;
    color: white;
}
