<main>

  <section class="banner">
    <div class="content">
      
        <h1>ONLINE QUOTES & BOOKINGS</h1>
          <form action="get" id="miform">

            <div class="caja1">
              <label>ENTER POST CODE OR SUBURB:</label>
              <input type="text" name="CODE" class="texto">
            </div>

            <div class="caja2">
              <label>PICK-UP DATE</label>
              <input type="date" class="dia">
            </div>
  
            <div class="caja3">
              <label>RETURN DATE</label>
              <input type="date" name="fecha" class="fecha">
            </div>

            <input type="submit"value="GO TO STOP 2" class="enviar" >
         </form>
    
    </div>

  </section>

  <section>
    <p class="A">AUSTRALIA'S FIRST CHOICE IN SKIP HIRE</p>
    <p class="B">For all your rubbish cleanup, home renovation or construction needs, we provide convenient, reliable and competitively priced skip bin hire services to homeowners, tradespeople, builders, landscapers, warehouse and all sectors of industry.</p>
    <p class="C">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, odio ipsam aperiam inventore illum, est mollitia ipsa quasi quia nobis explicabo minus iste repudiandae facilis temporibus asperiores deleniti consequuntur optio fuga natus quo modi? Ex delectus libero illum repellendus mollitia.</p>
  </section>
  <section>
    <div class="lincs">
      <nav>
        <ul>
            <a href="#">Areas Covered</a>
            <a href="#">Same Day Services</a>
            <a href="#">Same Day Turnaround</a>
            <a href="#">Size Estimador</a>
            <a href="#">Placement Guide</a>
            <a href="#">Council Permits</a>
            <a href="#">Mobile Skips</a>    
        </ul>
      </nav>
    </div>
    <div class="texto">
      <img src="" alt="">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis sed, ex autem a fuga sapiente. Architecto, recusandae. Doloremque fugiat nam quaerat consectetur ea quisquam esse, rerum distinctio vero vel, illum necessitatibus blanditiis qui culpa maiores recusandae aperiam, rem sint repudiandae.</p>
    </div>
  </section>



  <section>
    <div class="uno">
      <img src="assets/WMAA.jpg">
    </div>
    <div class="dos">
        <img src="assets/eway.png">
    </div>
     <div class="rs">
       <img src="assets/redes.png" alt="">
     </div>
  </section>
</main>