main{
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgb(230, 205, 159);
    font-family:Arial, Helvetica, sans-serif;
}
section{
    width: 100%;
    background-color: greenyellow;
    padding: 2rem 5rem;
    
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 20px;   
}
.banner{
    background-image: url(/assets/inicio.png);
    background-repeat: no-repeat;
    background-size: cover;
}
section:nth-child(even){
    background-color: #fff;
}
section:nth-child(odd){
    background-color: orange;
}
.content{
    height: 300px;
    grid-column: 1/5;
    background-color:orange;
    padding: 15px 0;
}
h1{
    padding: .3rem;
    background-color: rgb(238, 128, 3);
    font-size: 1rem;
    text-align: center;
    color: #fff;
}
#miform{
    display: flex;
    flex-wrap: wrap;
    padding: 1.2rem;
    color: #fff;
}
.caja1{
    width: 100%;
}
.caja2,.caja3{
    width: 50%;
}
.fecha, .dia{
    width: 95%;
    height: 40px;
}
.enviar{
    width: 50%;
    height: 40px;
    margin: 40px 0;
    margin-left: auto;
}
.texto{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
}
.A{
   grid-column: 1/5;
   font-size: 1.5rem;
   text-align: right;
   color: orange;
}
.B{
    grid-column: 5/9;
}
.C{
    grid-column: 9/13;
}
.lincs{
    width: 100%;
    grid-column: 1/13;
    padding: 0 0 20px 0;
}
.lincs nav{
    width: 100%;
    display: flex;
}
nav a{
    margin: 0 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.texto{
    width: 100%;
    grid-column: 1/13;
    line-height: 1.1rem;  
}
.uno,.dos,.tres{
    display: flex;
    align-items: center;
}
.uno{
    grid-column: 1/3;
}
.uno img{
    width: 300px;
}
.dos{
    grid-column: 6/9;
}
.rs{
    grid-column: 10/12;
}
.rs img{
    width: 300px;
}


